/*! _hamburger.scss | Wire A | Css ninja 2020-2021 */

/*
    1. Hamburger menu icon
*/

/* ==========================================================================
1. Hamburger menu icon
========================================================================== */

.menu-toggle {
    font-size: 20px;
    color: #666;
    line-height: 48px;
    text-align: center;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.4s;
    opacity: 1;
    position: relative;
    top: 2px;

    .icon-box-toggle {
        height: 100%;
        width: 100%;
        background: transparent;
        position: relative;
        display: block;
        width: 30px;
        height: 30px;

        &.active > span.rotate {
            /*transform*/
            -webkit-transform: rotate(90deg);
            -moz-transform: translate(0px, 0px) rotate(90deg);
            -ms-transform: translate(0px, 0px) rotate(90deg);
            -o-transform: translate(0px, 0px) rotate(90deg);
            transform: translate(0px, 0px) rotate(90deg);
        }

        &.active > span > i.icon-line-center {
            visibility: hidden;
            width: 1px;
            height: 3px;
            left: 70%;
        }

        &.active > span > i.icon-line-bottom {
            margin: -2px 0 0 -10px;
            left: 50%;
            top: 12px;

            /*transform*/
            -webkit-transform: rotate(135deg);
            -moz-transform: translate(0px, 0px) rotate(135deg);
            -ms-transform: translate(0px, 0px) rotate(135deg);
            -o-transform: translate(0px, 0px) rotate(135deg);
            transform: translate(0px, 0px) rotate(135deg);
        }

        &.active > span > i.icon-line-top {
            margin: -2px 0 0 -10px;
            left: 50%;
            top: 12px;

            /*transform*/
            -webkit-transform: rotate(45deg);
            -moz-transform: translate(0px, 0px) rotate(45deg);
            -ms-transform: translate(0px, 0px) rotate(45deg);
            -o-transform: translate(0px, 0px) rotate(45deg);
            transform: translate(0px, 0px) rotate(45deg);
        }
    }

    .icon-line-center {
        position: absolute;
        width: 20px;
        height: 2px;
        background: $light-text;
        margin: -1px 0 0 -10px;
        left: 50%;
        top: 11px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .icon-line-top {
        position: absolute;
        width: 20px;
        height: 2px;
        background: $light-text;
        margin: -3px 0 0 -10px;
        left: 50%;
        top: 7px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    .icon-line-bottom {
        position: absolute;
        width: 20px;
        height: 2px;
        background: $light-text;
        margin: 2px 0 0 -10px;
        left: 50%;
        top: 14px;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
}


/* ==========================================================================
2. Hamburger menu button
========================================================================== */

$menu-icon-size: 1.6rem;
$menu-icon-dash-width: 0.75em; //em(4.5rem, 6rem)
$menu-icon-dash-height: 0.05em; //em(0.3rem, 6rem)
$menu-icon-dash-gutter: $menu-icon-dash-height * 5;
$menu-icon-dash-color: $muted-grey;
$menu-icon-dash-border-radius: 0;

%menu-dash {
    display: block;
    position: absolute;
    top: 50%;
    left: (1em - $menu-icon-dash-width) / 2; // center X
    background-color: $menu-icon-dash-color;
    width: $menu-icon-dash-width;
    height: $menu-icon-dash-height;
    border-radius: $menu-icon-dash-border-radius;
}

.menu-icon {
    font-size: $menu-icon-size;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    cursor: pointer;

    span {
        @extend %menu-dash;

        margin-top: $menu-icon-dash-height / -2;
    }

    &:before {
        content: "";

        @extend %menu-dash;

        margin-top: -$menu-icon-dash-gutter + $menu-icon-dash-height / -2;
    }

    &:after {
        content: "";

        @extend %menu-dash;

        margin-top: $menu-icon-dash-gutter + $menu-icon-dash-height / -2;
    }
}

.v-1 {
    &:before, &:after, span {
        transition: 0.25s ease-in-out;
    }

    &.is-open {
        &:before {
            transform: rotate(135deg);
            margin-top: $menu-icon-dash-height / -2;
        }

        &:after {
            transform: rotate(-135deg);
            margin-top: $menu-icon-dash-height / -2;
        }

        span {
            opacity: 0;
            transform: translateX(150%);
        }
    }
}

.v-2 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            transition: 0.25s ease;
            top: 0;
            left: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(45deg);

            &:before, &:after {
                transform: rotate(90deg);
            }
        }
    }
}

.v-3 {
    &:before, &:after {
        transition: 0.2s ease 0.2s;
    }

    &:after {
        left: auto;
        right: (1em - $menu-icon-dash-width) / 2;
    }

    span {
        transition: 0.2s;

        &:before {
            @extend %menu-dash;

            content: "";
            transition: inherit;
            left: 0;
            top: 0;
        }
    }

    &.is-open {
        &:before, &:after {
            transition: 0.2s ease;
            width: 0;
        }

        span {
            transform: rotate(45deg);
            transition: 0.2s ease 0.2s;

            &:before {
                transform: rotate(-90deg);
            }
        }
    }
}

.v-4 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            top: 0;
            left: 0;
            transition: inherit;
            margin: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(180deg);

            &:before, &:after {
                width: $menu-icon-dash-width / 2;
                left: 0.02em;
            }

            &:before {
                transform: rotate(-45deg) translateY(-0.17em);
            }

            &:after {
                transform: rotate(45deg) translateY(0.17em);
            }
        }
    }
}

.v-5 {
    &:before, &:after {
        display: none;
    }

    span {
        transition: 0.25s ease;

        &:before, &:after {
            @extend %menu-dash;

            content: "";
            top: 0;
            right: 0;
            left: auto;
            transition: inherit;
            margin: 0;
        }

        &:before {
            transform: translateY(-$menu-icon-dash-gutter);
        }

        &:after {
            transform: translateY($menu-icon-dash-gutter);
        }
    }

    &.is-open {
        span {
            transform: rotate(-180deg);

            &:before, &:after {
                width: $menu-icon-dash-width / 2;
                right: 0.02em;
            }

            &:before {
                transform: rotate(-45deg) translateY(0.17em);
            }

            &:after {
                transform: rotate(45deg) translateY(-0.17em);
            }
        }
    }
}
